.nav_details{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: sticky;
    top:0px;
    height:750px;
    width:190px;
    margin-left:0px;
    justify-content: space-evenly;
    background-image:linear-gradient(20deg,rgb(159, 215, 237),rgb(239, 163, 20) 75%,rgb(30, 28, 28)60%,maroon);
    
}
.nav_details h2{
    color:rgb(201, 161, 88);
    margin-left: 20px;
}
.nav_details h3{
    margin-left: 30px;
    text-decoration: overline;
}